@using IdentityServer.Extensions
@model IdentityServer.ViewModels.Auth.RetrievePasswordViewModel


<div class="main">
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="~/images/logo_transparent.png" alt="sing up image"></figure>
                    <a asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="signup-image-link">Back to login</a>
                </div>
                <div class="signin-form">
                    <h2 class="form-title">Retrieve your password</h2>
                    <form asp-controller="Auth" asp-action="RetrievePassword" method="POST">
                        <div asp-validation-summary="ModelOnly" class="color-error"></div>
                        <input asp-for="ReturnUrl"/>
                        <div class="form-group">
                            <label asp-for="Email"><i class="zmdi zmdi-email"></i></label>
                            <input asp-for="Email" id="name" placeholder="Your Email"/>
                            <span asp-validation-for="Email" class="color-error"></span>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Submit"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>