@using IdentityServer.Enums
@using IdentityServer.Extensions

@model IdentityServer.ViewModels.Auth.RetrievePasswordResultViewModel


<div class="main">
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="~/images/logo_transparent.png" alt="sing up image"></figure>
                    <a asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="signup-image-link">Back to login</a>
                </div>
                <div class="signin-form">
                    <h2 class="form-title">Retrieve your password</h2>
                    @if (Model.Result == IdentityResult.Success)
                    {
                        <p class="color-success">Success! If your email is known to us, we will send you a link to change your password.</p>
                    }
                    else
                    {
                        @if (ViewData.ModelState.HasErrors())
                        {
                            <div>
                                <div asp-validation-summary="ModelOnly" class="color-error"></div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </section>
</div>